# Dependency directories
node_modules/
jspm_packages/

# OS metadata
.DS_Store

# Lock files
package-lock.json
yarn.lock

# environment variables file
.env
.env.test
.env.production

# Production build
/dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*